{{!-- Disqus --}}
<div id="disqus_thread"></div>

{{#contentFor 'scripts'}}
<script>
  function disqus_config () {
    this.page.url = '{{url absolute=true}}';
    this.page.identifier = 'item-{{comment_id}}';
  }
</script>
{{!-- TODO: Replace `zce-sandbox` with your disqus shortname --}}
<script src="https://zce-sandbox.disqus.com/embed.js" data-timestamp="{{date null format='x'}}"></script>
{{/contentFor}}

{{!-- Valine --}}
{{!-- <div id="comments"></div>

{{#contentFor 'scripts'}}
<script src="https://unpkg.com/leancloud-storage/dist/av-min.js"></script>
<script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
<script>
  new Valine({
    el: '#comments',
    appId: '<your leancloud app id>',
    appKey: '<your leancloud app key>',
    path: '{{url absolute=true}}'
  })
</script>
{{/contentFor}} --}}