// -----------------------------------------------------------------------------
// This file contains code styles.
// -----------------------------------------------------------------------------

// https://github.com/twbs/bootstrap/blob/v4.1.3/scss/_code.scss

// Inline code
code {
  color: $code-color;
  word-break: break-word;
  font-size: $code-font-size;

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    color: inherit;
  }
}

// User input typically entered via keyboard
kbd {
  padding: $kbd-padding-y $kbd-padding-x;
  background-color: $kbd-bg;
  color: $kbd-color;
  font-size: $kbd-font-size;

  @include border-radius($border-radius-sm);
  @include box-shadow($kbd-box-shadow);

  kbd {
    padding: 0;
    font-weight: $nested-kbd-font-weight;
    font-size: 100%;

    @include box-shadow(none);
  }
}

// Blocks of code
pre {
  display: block;
  color: $pre-color;
  font-size: $code-font-size;

  // Account for some code outputs that place code tags in pre tags
  code {
    color: inherit;
    word-break: normal;
    font-size: inherit;
  }
}

// https://prismjs.com
// -----------------------------------------------------------------------------
// TODO:
// - Redesign code token color
// - https://github.com/PrismJS/prism/blob/master/themes/prism.css

code[class*='language-'],
pre[class*='language-'] {
  white-space: pre;
  word-spacing: normal;
  word-wrap: normal;
  word-break: normal;
  tab-size: 4;
  hyphens: none;
}

// Inline code
:not(pre) > code[class*='language-'] {
  padding: $kbd-padding-y $kbd-padding-x;
  background-color: gray('800');
  color: gray('100');
  white-space: normal;

  @include border-radius($border-radius-sm);
}

// Block code
pre {
  overflow: auto;
  padding: 0.8em 1em;
  max-height: 70vh;
  background-color: gray('800');
  color: gray('100');

  @include border-radius($border-radius);
}

.token {
  &.comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: gray('600');
  }

  &.punctuation {
    color: gray('300');
  }

  &.property,
  &.tag,
  &.constant,
  &.symbol,
  &.deleted {
    color: color('red');
  }

  &.boolean,
  &.number {
    color: color('purple');
  }

  &.selector,
  &.attr-name,
  &.string,
  &.char,
  &.builtin,
  &.inserted {
    color: color('teal');
  }

  &.operator,
  &.variable,
  &.entity,
  &.url,
  .language-css &.string,
  .style &.string {
    color: gray('100');
  }

  &.atrule,
  &.attr-value,
  &.function,
  &.class-name {
    color: color('yellow');
  }

  &.keyword {
    color: color('cyan');
  }

  &.regex,
  &.important {
    color: color('orange');
  }

  &.important,
  &.bold {
    font-weight: $font-weight-bold;
  }

  &.italic {
    font-style: italic;
  }

  &.entity {
    cursor: help;
  }
}

.namespace {
  opacity: 0.7;
}
