// -----------------------------------------------------------------------------
// This file contains typography styles.
// -----------------------------------------------------------------------------

// https://github.com/twbs/bootstrap/blob/v4.2.1/scss/_type.scss

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $headings-margin-bottom;
  color: $headings-color;
  font-weight: $headings-font-weight;
  font-family: $headings-font-family;
  line-height: $headings-line-height;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}

table {
  margin-bottom: $spacer;
  width: 100%;
  background-color: $table-bg; // Reset for nesting within parents with `background-color`.

  th,
  td {
    padding: $table-cell-padding;
    border-bottom: $table-border-width solid $table-border-color;
    vertical-align: top;
  }

  thead th {
    border-bottom: ($table-border-width * 2) solid $table-border-color;
    vertical-align: bottom;
  }
}

small {
  font-weight: $font-weight-normal;
  font-size: $small-font-size;
}

mark {
  padding: $mark-padding;
  background-color: $mark-bg;
}
