// -----------------------------------------------------------------------------
// Style entry file
// -----------------------------------------------------------------------------

@charset 'UTF-8';

// abstracts
// --------------------------------------------------

@import 'abstracts/functions';
@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';

// vendors
// --------------------------------------------------

@import 'vendors/bootstrap';

// base
// --------------------------------------------------

@import 'base/fonts';
@import 'base/typography';
@import 'base/code';
@import 'base/helpers';
@import 'base/global';

// layout
// --------------------------------------------------

@import 'layout/grid';
@import 'layout/forms';
@import 'layout/wrapper';
@import 'layout/header';
@import 'layout/navigation';
@import 'layout/main';
@import 'layout/sidebar';
@import 'layout/footer';

// components
// --------------------------------------------------

@import 'components/buttons';
@import 'components/navigation';
@import 'components/pagination';
@import 'components/subscribe';
@import 'components/koenig';
@import 'components/post';
@import 'components/tag-card';

// pages
// --------------------------------------------------

@import 'pages/home';
@import 'pages/index';
@import 'pages/tag';
@import 'pages/author';
@import 'pages/page';
@import 'pages/post';
@import 'pages/custom';
@import 'pages/amp';
@import 'pages/subscribe';
@import 'pages/private';
@import 'pages/error';

// themes
// --------------------------------------------------

@import 'themes/default';
