// -----------------------------------------------------------------------------
// This file contains all styles related to the koenig editor component.
// -----------------------------------------------------------------------------

.kg-card {
  text-align: center;

  figcaption {
    color: $figure-caption-color;
    font-size: $figure-caption-font-size;
  }
}

.kg-embed-card {
  position: relative;

  &::before {
    display: block;
    padding-top: percentage(9 / 16);
    content: '';
  }

  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.kg-gallery-card {
  // TODO: .kg-gallery-card
}

.kg-gallery-container {
  display: flex;
  // TODO: Useless flex
  flex-direction: column;
}

.kg-gallery-row {
  display: flex;
  justify-content: center;
  margin: 0 -0.5% 1%;
}

.kg-gallery-image {
  padding: 0 0.5%;
  cursor: pointer;

  @include transition(opacity 0.3s);
  @include hover {
    opacity: 0.8;
  }

  img {
    // TODO: gallery image
    width: 100%;
    height: 100%;
    // height: auto;
    // max-width: 100%;

    object-fit: cover;
  }
}

.kg-image {
  max-width: 100%;
}

.kg-width-wide {
  @each $breakpoint, $size in $content-breakpoints {
    @include media-breakpoint-up($breakpoint) {
      margin-right: (- map-get($size, padding-x));
      margin-left: (- map-get($size, padding-x));
    }
  }
}

.kg-width-full {
  align-self: center;
  width: 100vw;
}
