// -----------------------------------------------------------------------------
// This file contains all styles related to the nav component.
// -----------------------------------------------------------------------------

// https://github.com/twbs/bootstrap/blob/v4.2.1/scss/_nav.scss

.nav-link {
  display: block;
  padding: $nav-link-padding-y $nav-link-padding-x;

  @include hover-focus {
    text-decoration: none;
  }

  // Disabled state lightens text
  &.disabled {
    color: $nav-link-disabled-color;
    pointer-events: none;
    cursor: default;
  }
}
