// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar of the site/application.
// -----------------------------------------------------------------------------
