// -----------------------------------------------------------------------------
// This file contains styles that are specific to the author page.
// -----------------------------------------------------------------------------

.author-template {
  .site-cover::before {
    filter: blur(0.5rem);
  }

  .author-avatar {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }

  .author-name {
    font-weight: $font-weight-bold;
    font-size: $display4-size;
    line-height: $display-line-height;
  }

  .author-bio {
    @extend %lead;
  }

  .author-meta {
    margin-bottom: spacer(4);

    @include link;

    span,
    a {
      margin: 0 spacer(2);
    }

    svg {
      margin-right: spacer(1);
      vertical-align: text-top;
    }
  }

  .author-follow {
    .btn {
      margin: 0 spacer(1);
    }

    svg {
      vertical-align: text-top;
    }
  }
}

.author-template.paged {
  // TODO: .author-template.paged
}
