// -----------------------------------------------------------------------------
// This file contains styles that are specific to the custom page.
// -----------------------------------------------------------------------------

// custom video template
.video-template {
  .kg-embed-card {
    align-self: center;
    // max-height: 60rem;
    max-width: map-get($container-max-widths, xl);
    width: 100vw;

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
      margin-left: -50vw;
      width: 100vw;
      height: 100%;
      background-color: #000;
      content: '';
    }
  }

  .video {
    display: flex;
    flex-direction: column;
    margin-bottom: spacer(4);

    @include inner;
  }

  .video-meta {
    padding-top: spacer(3);
    padding-bottom: spacer(3);
    border-top: $border-width solid $border-color;
    font-size: $font-size-sm;
  }
}
