// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home-template {
  .site-heading {
    padding: 18vw 4vw;
  }

  .site-cover {
    padding-top: 0;
    min-height: 100%;

    &::after {
      display: none;
    }
  }
}
