// -----------------------------------------------------------------------------
// This file contains styles that are specific to the subscribe page.
// -----------------------------------------------------------------------------

.subscribe-template {
  .site-heading {
    padding: 6vw 4vw 0;
  }

  .site-title {
    @include display(4);
  }

  .subscribe {
    text-align: center;
    padding: 0 1rem;
    @include inner(24rem);

    form {
      margin-bottom: 8vw;
      padding: spacer(5);
      border-radius: $card-border-radius;
      background: $card-bg;
      box-shadow: $box-shadow;
    }

    .btn {
      margin-top: spacer(2);
      width: 100%;
    }

    .error-message {
      color: color('red');
    }
  }
}
